/wp-includes
.htaccess
index.php
license.txt
readme.html
wp-activate.php
wp-admin/
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-config.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php

/wp-content/themes/twentytwentythree

/wp-content/plugins/*
!/wp-content/plugins/redux-framework/
/wp-content/plugins/redux-framework/redux-core
/wp-content/plugins/redux-framework/redux-templates
/wp-content/plugins/redux-framework/ReduxCore
/wp-content/plugins/redux-framework/sample/patterns
/wp-content/plugins/redux-framework/sample/presets
/wp-content/plugins/redux-framework/sample/extension

/wp-content/themes/dor